<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Type</th>
      <th class="u-align-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.status %></td>
      <td><%= article.article_type %></td>
      <td class="u-align-center">
        <div class="btn-group" role="group" aria-label="Basic outlined example"> 
          <a href="<%= article_path(article) %>" class="btn btn-outline-info">Show</a>
          <a href="<%= edit_article_path(article) %>" class="btn btn-outline-secondary">Edit</a>
          <a data-confirm="Are you sure?" data-method="delete" href="<%= article_path(article) %>" class="btn btn-outline-danger">Delete</a>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
