<% if !user_signed_in? %>
  <% @articles.article_type_public.each do |article| %>
    <article class="card mt-3">
      <div class="card-body">
        <div class="container">
          <h1><a class="navbar-brand text-black" href="<%= article_path(article) %>" class="text"><%= article.title %></a></h1>
          <br>
          <%= truncate article.body, length:650 %>
        </div>
      </div>
    </article>
  <% end %>
<% elsif current_user || current_user.admin %>
 <% @articles.each do |article| %>
    <article class="card mt-3">
      <div class="card-body">
        <div class="container">
          <h1><a class="navbar-brand text-black" href="<%= article_path(article) %>" class="text"><%= article.title %></a></h1>
          <br>
          <%= truncate article.body, length:650 %>
        </div>
      </div>
    </article>
  <% end %>
<% end %>
<br>
